.post-list__wrap {
  padding: 60px 0;
}

.post-list {
  list-style: none;
}

.post-list__list-item {
  background-color: white;
  margin-bottom: 30px;
  position: relative;
}

.post-list__thumbnail {
  width: 320px;
  height: 180px;
  background-size: cover;
  background-position: center center;
  float: left;
}

.post-list__title {
  padding: 30px 30px 30px 350px;
  font-size: 2.4rem;
  color: #4285f4;
}

.post-list__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}