.post-list__wrap {
  padding: 60px 0;
}

.post-list__list-item {
  background-color: white;
  margin-bottom: 30px;
}

.post-list__thumbnail {
  width: 320px;
  height: 180px;
  background-size: cover;
  background-position: center center;
  float: left;
}