---
---

@import "{{ site.theme }}";

body {
    background-color: #e2e2e2;
}

.markdown-body {
    background-color: white;
}

h1 {
    color: blue;
}

em {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #1b809e;
}