---
---

@import "{{ site.theme }}";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: #e2e2e2;
  font-family: 'Noto Sans', sans-serif;
}

.markdown-body {
  background-color: white;
  margin-bottom: 60px;
  position: relative;

  h2 {
    background-color: #0cd65e;
    color: white;
    border-top: 30px solid #e2e2e2;
    line-height: 120px;
    margin: 60px 0;
    font-size: 34px;
    font-size: 3.4rem;
    padding-left: 90px;
  }

  h1, p, table, pre {
    padding: 0 90px;
  }

  code {
    padding: 10px;
  }

  &> *:last-child {
    margin-bottom: 60px !important;
    paddin-bottom: 60px;
  }
}

h1 {
  color: blue;
}


/* temp for notes */
em {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #1b809e;
  display: block;
}

.header__wrap {
  height: 80px;
  background-color: #4285f4;
}

.header {
  line-height: 80px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.header__logo {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.header__title {
  color: white;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  margin-left: 8px;
}

.header-nav {
  position: absolute;
  line-height: 80px;
  right: 20px;
  top: 0;
  color: white;
}

.header-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav__list-item {
  display: inline-block;
  margin: 0 5px;
}

.header-nav__link {
  color: white;
}

.post__hero-image {
  width: 100%;
  min-height: 426px;
  background-size: cover;
  background-position: center center;
  position: absolute;
  max-width: 100%;
}

.post-header {
  margin-top: 364px;
  background-color: white;
  position: relative;
  padding: 60px 90px;
}

.post-header__series {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
}

.post-header__title {
  margin-top: 0;
  color: #4285f4;
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 52px;
}

.post-header__date {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
}

.post-header__image-credit {
  line-height: 30px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #bdbdbd;
  position: relative;
  z-index: 99;

  a {
    color: #bdbdbd;
  }
}

.series-header__number-wrap {
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 5px solid #0cd65e;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  margin: 0 auto;
  z-index: 99;
}

.series__number-wrap {
  border: 5px solid #0cd65e;
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  margin: -45px auto 0;
  z-index: 99;
}

.series__number {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 1px solid white;
  background-color: #0cd65e;
  color: white;
  line-height: 80px;
  font-size: 34px;
  font-size: 3.4rem;
  text-align: center;
}

.post-nav {
  border-top: 20px solid #e2e2e2;
  background-color: #e2e2e2;
}

.post-nav .series__number {
  font-size: 60px;
  font-size: 6.0rem;
  line-height: 60px;
}

.post-nav__col {
  width: 49%;
  float: left;
}

.post-nav__col.post-nav__col--right {
  margin-left: 2%;
}

.post-nav__col .post-nav__content {
  position: relative;
  background-color: white;
}

.post-nav__link {
  display: block;
  padding-top: 60px;
  padding-bottom: 15px;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 99;
}

.post-nav__link:hover {
  color: #0cd65e;
}